<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../dist/index.js"></script>
    <script>
        // Your databowl affiliate url ID
        var urlId = '10512f4d-87a4-4d8f-810d-f86546bcbec6';

        // The default affiliate ID to be used for direct traffic
        var defaultAffiliateId = '56df5ddc-7c02-4ddb-b9c7-aa7a6821ac33';

        var trackingOptions = new DbEvtTracking.OptionsObject(
            urlId,
            defaultAffiliateId,
            'http://localhost:8082/'
            // cookieExpiryInDays,
            // cookiePrefix,
            // cookiePath,
            // documentReferer
        );

        var trackingClient = new DbEvtTracking.TrackingClient(trackingOptions);
    </script>

    <script>
        // Manually trigger a click event
        trackingClient.createEvent(DbEvtTracking.AffiliateEventTypeIdEnum.Click);
    </script>

    <script>
        // Manually trigger a click event, with additional params
        var additionalParams = {
            myParam1: 'value1'
        };

        additionalParams[DbEvtTracking.AffiliateParameterEnum.RefererOverride] = 'http://www.example.com';

        trackingClient.createEvent(DbEvtTracking.AffiliateEventTypeIdEnum.Click, additionalParams);
    </script>

    <script>
        // Trigger the redirect click event (only fires if there's a uid in the url)
        trackingClient.createRedirectClickEvent();
    </script>

    <p>
        <a href="https://www.google.com">Go to google.com</a>
    </p>
</head>
<body>
</body>
</html>